<div class="row wrapper border-bottom white-bg page-heading">
	<h2>
		<i class="fa fa-th-list"></i> Elenco domande
	</h2>
	<div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input type="text" class="form-control" ng-model="search" placeholder="Ricerca domanda"></div>
</div>


<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
                    <h5>Seleziona una domanda per modificare le impostazioni</h5>
                </div>			
				<div class="ibox-content">
					<div class="row">

						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Id</th>
									<th>Tipo</th>
									<th>Codice</th>
									<th>Testo</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="q in mirrorSvc.questions | filter:search">
									<td>{{ q.Id }}</td>
									<td>{{ q.Type }}</td>
									<td>{{ q.Ref }}</td>
									<td>{{ q.Title }}</td>
									<td>
										<a class="btn btn-primary btn-xs" href="#/question/{{ q.Id }}">Modifica</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
